:root {
  --green: #4eba93;
  --dark: #1d1e1f;
  --white: #ffffff;
  --almostwhite: #dce4e5;
}
body {
  background-color: var(--white);
  font-family: "League Spartan";
  font-size: 22px;
}
.topnav a {
  text-decoration: none;
}
.wrapper-cards {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  grid-template-rows: minmax(100px, auto);
}
.wrapper-cards > div {
  background-color: #383f46;
  backdrop-filter: blur(1rem);
  border-radius: 19px;
}
.wrapper-cards > div h2 {
  color: var(--green);
}
.wrapper-cards > div p {
  color: #ffffff;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px #5638aa;
}
.top {
  margin: 10px;
}

.img-card {
  border-radius: 19px;
  width: 100%;
}
a {
  text-decoration: none;
}
#project-seeMore {
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  width: calc(100% - 20px);
  display: block;
  margin: 10px;

  padding: 10px 33px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  background-size: 200% auto;
}
.top-section {
  text-align: center;
}

h1,
h2 {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
h2 {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
}
p {
  color: rgb(112, 111, 111);
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1250px) {
  .wrapper-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 850px) {
  .wrapper-cards {
    grid-template-columns: 1fr;
  }
}

.topnav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
}
.nav-option {
  padding: 15px;
}
.active-nav {
  color: white;
  border-radius: 19px;
  justify-content: center;
  vertical-align: auto;
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );

  margin: 10px;
  padding: 10px 33px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

#img-logo {
  width: 250px;
}

/* about */
.main-content {
}
.container-about {
  max-width: 1200px;
  margin: auto;
}

#img-about {
  width: 200px;
  display: block;
  margin: auto;
  border-radius: 66%;
}
#about-text {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}
.contact-about {
  margin: auto;
  display: flex;
  justify-content: center;
}
